*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}
body {
    background-image: url('../img/medlar.jpg');
    background-size: cover;
    background-position-x: 900px;
    background-position-y: 100px;

   
}

.tabela-conteiner {
    width: 700px;
    margin-left: 50px;
    margin-top: 30px;
    overflow: hidden;
}
